@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.cdnfonts.com/css/chunkfive');

.auth{
  background-color: #2C3E50;
  background-image: url('./fundo-auth.png');
  background-size: 'cover';
  background-position: 'center';
  background-repeat: 'no-repeat';
}

.post{
  background-image: url('./fundo-post.png');
}

.cor-tit-auth{
  color: #100F0D;
}

.cor-txt-auth{
  color: #333333;
}

.cor-posted{
  color: #3B3B3B;
}

.cor-clique{
color: #2C3E50;
}

.h-pessoal{
  height: 80%;
}

.font-pessoal{
  font-family: "Playfair Display", serif;
}

.text-hr{
  color: #CCCCCC;
}

.text-auth-size{
  font-size: 11px;
}

.font-tit-post{
  font-family: "Shrikhand", serif;
}

.bg-post{
  background: rgb(189,195,199);
  background: linear-gradient(90deg, rgba(189,195,199,1) 0%, rgba(52,98,143,1) 100%);
}

.bg-post-pub {
  background-color: #BDC3C7;
}

.bg-post-com {
  background-color: #34628F; 
}

.bg-com{
  background-color: #D6D6D6;
}

.text-name-data{
  color:#2C3E50;
}

.border-post{
  border-color: #000;
  border-top: 2px solid; /* Borda superior */
  border-bottom: 2px solid ; /* Borda inferior */
  border-left: 4px solid ; /* Aumente a espessura da borda esquerda */
  border-right: 4px solid ; /* Aumente a espessura da borda direita */
  border-radius: 5px;
  font-family: 'Gagalin', sans-serif;
}

.bg-post-btn{
  background-color: #34628F;
}

.bg-post-btn:hover{
  background-color: #577a9e;
  transition: 1s;
}

.font-com-user{
  font-family: 'ChunkFive', sans-serif;
}

.text-icon:hover{
  color:#34628F;
  transition: 0.5s;
}


.text-link:hover{
  color: #3498DB;
}

.bg-post-list{
  background-color: #f8f8f8;
}
.bg-post-form{
background-color: #7A9BBB;
}

.mycss-title{
  font-family: "Shrikhand", serif;
  color: #000;
}

.shadow-post{
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.315);
}


.custom-scroll::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #adadad; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid #f1f1f1; /* Espaço entre o thumb e o track */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c; /* Cor da barra de rolagem quando em hover */
  }
  
  .custom-scroll::-webkit-scrollbar-button {
    display: none; /* Remove as setas de cima e de baixo */
  }
  

  /* styles.css ou um arquivo CSS global */
.no-scroll {
  overflow: hidden;
}
