
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --cor01:#F4F4F4;
    --cor02:#FF6F61;
    --cor03:#333333;
    --cor04:#3498DB;
    --cor05:#5E5CE6;
    --cor06:#95B8D1;

    --fonte-aleo:"Aleo", serif;
}

.card-compra{
    gap: 50px;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    margin-top: 90px;
}

.cor-card-compra{
    display: flex;
    gap: 10px;
    background-color: #D6D6D6;
    border-radius: 7px;
    padding: 30px;
}

.separar{
    width: 1px;
    background-color: #0000001f;
}

.olhar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-livros{
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.img{
    background-color: gray;
    width: 100px;
    height: 80px;
}

.social{
    display: flex;
    gap: 80px;
    margin-bottom: 3px;
}

.social a{
    text-decoration: underline;
}

.avaliacao-compra{
    font-size: 18px;
    margin-bottom: 20px;
}

.informacoes{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informacoes-livro{
    text-align: justify;
    padding: 10px;
    line-height: 1.6;
}

.titulo-compra{
    font-size: 28px;
    font-family: var(--fonte-aleo); 
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.autor{
    text-indent: 1.5em;
    margin-top: 6px;
}

.mais-informacoes a{
    margin-left: 10px;
    text-decoration: underline;
}

.mais-informacoes i{
    margin-left: 2px;
    font-size: 12px;
}

.fabricante{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.fabricante img{
    width: 28px;
}


.paginas, .idioma, .editora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.card-comprar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    background-color: #D6D6D6;
    padding: 20px;
    gap: 20px;
}


.card-comprar img{
    width: 20px;
}


.preco-comprar h1{
    font-size: 50px;
    text-align: center;
}

.pagar-cartao{
    display: flex;
    gap: 3px;
    align-items: center;
}

.pagamentos{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s ease;
}

.pagamentos:hover{
    color: #b82114be;
}

.calcular-frete{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.calcular-frete img{
    width: 40px;
}

.button-frete, .input-frete{
    border: 0;
    outline: 0;
}

.inserir-frete{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.input-frete{
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: #E3E6E6;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}

.button-frete{
    background-color: #205FBB;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.compra, .botoes-abaixo{
    display: flex;
    align-items: center;
    color: white;
}

.compra{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #205FBB;
    font-size: 24px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.compra, .carrinho-compra, .chat{
    background: rgb(90,158,212);
    background: linear-gradient(180deg, rgba(90,158,212,1) 0%, rgba(46,91,153,1) 35%);
    cursor: pointer;
}

.compra img, .carrinho-compra img, .chat img {
    width: 24px;
}

.carrinho-compra, .chat{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.botoes-abaixo{
    gap: 10px;
}

.carrinho-compra{
    font-size: 24px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
.chat-a{
    color: white;
}

.chat{
    font-size: 24px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


.cor{ 
    display: none;
    width: 100%;
    height: 160vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.14609593837535018) 0%, rgba(0,0,0,0.5690651260504201) 0%);
    z-index: 98;
} 

.card-modal{
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #DBDBDB;
}






