.card-favoritos{
    gap: 50px;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    margin-top: 90px;
}

.card-favoritos-conta{
    width: 360px;
    height: 520px;
    background-color: #d6d6d6;
}

.card-favorito{
    width: 75%;
    height: 520px;
    background-color: #d6d6d6;
}

.titulo-favorito-card{
    background-color: #DF1515;
    height: 40px;
    width: 30%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    gap: 5px;
}

