
:root{

    --cor0:#f4f4f4;
    --cor1:#e6e3e3;
    --cor2:#f9f9f9;
    --cor3:#ff6f61;
    --cor4:#400D01;

    --fonte-padrao:'Nunito', sans-serif;
    --fonte-destaque:'Montserrat',sans-serif;
  }




body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--cor0);
}


.login{
    background:var(--cor1);
    border-radius: 10px;
    width: 1200px;
    border-radius: 20px;
}

.logo-login img{
    object-fit: cover;
    width: 200px;
    margin-left: 40px;
}

.separacao-login{
    width: 100%;
    height: 3px;
    background-color: var(--cor3);
}

.login h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 25px;
    color: black;
    text-align: center;
    margin: 30px;
}

.img-login-sociais img{
    object-fit: cover;
    width: 30px;
}

.img-login-sociais{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.img-social{
    padding: 10px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    cursor: pointer;
}

.separacao-login-1{
    margin: 30px auto;
    width: 85%;
    height: 3px;
    background-color:#cccccc;

}

.login .box-user{
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .box-user input{
    width: 50%;
    padding: 10px 0;
    outline: none;
    border: 0;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .box-user label{
    position: absolute;
    top: 0;
    left: 305px;
    padding: 20px 0px 6px 6px;
    color: black;
    font-size: 12px;
    font-weight: bolder;
    pointer-events: none;
    transition: .5s;
}

.login .box-user img{
    position: absolute;
    left: 73%;
    bottom: 35px;
    object-fit: cover;
    width: 20px;
}


.login .box-user input:focus~label,
.login .box-user input:valid~label
{
    top: -40px;
    left: 305px;
    color: black;
    font-size: 14px;
}

.login .box-user input:focus,
.login .box-user input:valid {
    font-size: 14px; 
}


.forget{
    text-decoration: underline;
    position: relative;
    left: 300px;
    bottom: 20px;
    font-size: 12px;
    color: black;
}

.btn{
    position: relative;
    bottom: 20px;
    left: 100px;
    border: none;
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: var(--cor2);
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 20px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover{
    background: var(--cor2);
    color: black;
}
.btn span{
    position: absolute;
    display: block;
}
.btn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(180deg, transparent, var(--cor2));
    animation: btn1 1s linear infinite;
}
@keyframes btn1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}
.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--cor2));
    animation: btn2 1s linear infinite;
    animation-delay: .20s;
}
@keyframes btn2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}
.btn span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, var(--cor2));
    animation: btn3 1s linear infinite;
    animation-delay: .45s;
}
@keyframes btn3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}
.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(26deg, transparent, var(--cor2));
    animation: btn4 1s linear infinite;
    animation-delay: .70s;
}
@keyframes btn4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}
@media (max-width: 405px){
    .login{
        width: 90%;
    }
}