:root {
    --cor01:#F4F4F4;
    --cor02:#FF6F61;
    --cor03:#333333;
    --cor04:#3498DB;
    --cor05:#5E5CE6;
}

.header{
    background-color: #c5c5c5;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    margin-right: 20px;
}

.sidebar span i{
    font-size: 35px;
    cursor: pointer;
}

.nav{
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 32px;
}

.nav-list li a i{
    margin-right: 4px;
}

.nav-list a{ 
    font-size: 20px;
    color: black;
}
/* Menu de Navegação */


.buscar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 380px;
    height: 45px;
}

.buscar-box .input-buscar input{
    background-color: transparent;
    color: black;
    border: 0;
    outline: 0;
    font-size: 18px;
}
/* Barra de Pesquisa */

