
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --cor01:#F4F4F4;
    --cor02:#FF6F61;
    --cor03:#333333;
    --cor04:#3498DB;
    --cor05:#5E5CE6;
    --cor06:#95B8D1;

    --fonte-Playfair:"Playfair Display", serif;
}
body{
    background-color: #f5f5f586;
}

.header{
    background-color: var(--cor01);
    padding-bottom: 10px;
}

.logo img{
    height: 80pt;
}

.nav{
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 32px;
}

.nav-list li span i{
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
}

.nav-list li a{ 
    font-size: 20px;
    color: black;
}

/* Menu de Navegação */


.buscar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    width: 380px;
    height: 45px;
}

.buscar-box .input-buscar input{
    background-color: transparent;
    color: black;
    border: 0;
    outline: 0;
    font-size: 18px;
}
/* Barra de Pesquisa */

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overlay -> Fundo ao clicar na Sidebar */
.cor{ 
    display: none;
    width: 100%;
    height: 160vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.14609593837535018) 0%, rgba(0,0,0,0.5690651260504201) 0%);
    z-index: 80;
} 

.sidebar{
    background-color: var(--cor01); /* Mudar a cor #cecccc */
    width: 390px;
    left: -500px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease-out;
    transition-property: left;
    z-index: 99; 
}


.sidebar.active{
    left: 0;
}

.menu-btn{
    font-size: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.close-btn{
    color: #0000004b;
    position: absolute;
    right: 0;
    margin: 15px;
    font-size: 35px;
    cursor: pointer;
}

.close-btn:hover{
    color: #333333;
}

.cabecalho-sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.logo-sidebar img{
    height: 90pt;
}

.item img{
    width: 20px;
    object-fit: contain;
    background-position: center;
    margin-right: 5px;
}

.sub-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conta {
    font-size: 18px;
    margin-right: 5px;
}

.no-scroll {
    overflow: hidden;
}

.sidebar .menu-sidebar{
    width: 100%;
}

.sidebar .menu-sidebar .item{
    position: relative;
    cursor: pointer;
}

.sidebar .menu-sidebar .item a{
    color: black;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
    line-height: 60px;
    transition: 0.1s ease;
}

/* .sidebar .menu-sidebar .item a:hover{
    color: ; /*Mudar a cor*/
/* } */


.sidebar .menu-sidebar .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}


.sidebar .menu-sidebar .item .sub-menu{
    display: none;
} 


.sidebar .menu-sidebar .item .sub-menu a{
    padding-left: 60px;
    font-size: 16px;
}

.sidebar .menu-sidebar .separacao{
    height: 2px;
    width: 75%;
    margin: auto;
    margin-top: 20px;   
    background-color: #CCCCCC;
}

.sidebar .menu-sidebar .destaque a {
    color: #5E5CE6;
}


.rotate{
    transform: rotate(90deg);
}


.sub-cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    height: 36px;
    box-shadow: 5px 10px 7px 0px rgba(0, 0, 0, 0.041);
    width: 75%;
    margin: auto;
}

.sub-cabecalho .item-cabecalho a{
    color: black;
    font-size: 18px;
}


.sub-cabecalho .item-cabecalho a span i{
    margin-right: 9px;
}


.chat-balao{
    background-color: #CCCCCC; 
    padding: 0px 10px 0px 10px;
    border-radius: 25px;
    text-align: center;
}


.dropdown1{
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 0px 0px 20px 20px;
    top: 30px;
    left: -35px;
    padding: 20px;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown1 .dropdown-content::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 7%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #f1f1f1;
        z-index:-1;
}

.separar-cabecalho{
    display:flex;
}


.dropdown-content .separar-itens-cabecalho a{
    display: block;
    flex-direction: column;
    margin: 20px;
}

.dropdown-content .separar-itens-cabecalho a{
    font-size: 16px;
    transition: 0.1s ease;
}

.dropdown-content .separar-itens-cabecalho a:hover{
    color: var(--cor02);
}


.sidebar-carrinho{
    background-color: var(--cor01); /* Mudar a cor #cecccc*/
    width: 430px;
    right: -800px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease-out;
    transition-property: right;
    z-index: 99;
}

.sidebar-carrinho.active-carrinho{
    right: 0;
}

.cabecalho-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #3498DB;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 5px 10px 7px 0px rgba(0, 0, 0, 0.041);
}

.titulo-sidebar-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    font-family:var(--fonte-Playfair);
    color: white;
    gap: 10px;
}

.titulo-sidebar-carrinho img{
    width: 30px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.close-btn-carrinho{
    color: #0000004b;
    position: absolute;
    right: 0;
    margin: 15px;
    font-size: 35px;
    cursor: pointer;
    transition: 0.2s ease;
}

.close-btn-carrinho:hover{
    color: #333333;
}







/* Sub-Cabeçalho */

main.site{
    height: 300vh;
    max-width: 75%;
    margin: 0 auto;
}

main.site div.container div.slider-wrapper{
    overflow: hidden;
    max-width: 1100px;
    margin: 0px 70px 0px 30px;
}


.card-list .card-item{
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 5px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.card-list .card-item .user-image{
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 5px;
    width: 230px;
    object-fit: cover;
    background-position: center;
}

.card-list .card-item img.user-image:hover{
    transform: scale(1.003);
}
.titulo-card, .titulo-card2, .titulo-card3{
    width: 230px;
    font-size: 15px;
}

.titulo-card{
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0px 0px 12px 12px; 
    padding: 5px;
    background-color: #BDAE76;
}

.titulo-card2{
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0px 0px 12px 12px; 
    padding: 5px;
    background-color: #57758C;
}

.titulo-card3{
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0px 0px 12px 12px; 
    padding: 5px;
    background-color: #695740;
}

.cards{
    max-width: 1100px;
    margin: 0 auto;
}

.titulo-recomendados h2{
    display: flex;
    margin: 15px 0px 22px 0px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 22px;
    display: flex;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .button-prev{
    position: absolute;
    right: 320px;
    top: 110px;
}

.button-next{
    left: 30px;
    top: 110px;
    position: absolute;
    font-size: 20px;
} */

.button-next, .button-prev{
    font-size: 12px;
    background-color: #33333318;
    color: whitesmoke;
    border-radius: 35%;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.button-next:hover,
.button-prev:hover{
    background-color: #33333375;
}

.carrossel{
    width: 75%;
    height: 280px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 5px 10px 7px 0px rgba(0, 0, 0, 0.068);
}

.carrossel img{
   width: 100%;
   height: 280px;
   object-fit: cover;
   background-position: center;
}

.swiper-button-prev, .swiper-button-next{
    color: #CCCCCC;
}

.livros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-livros{
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 450px;
}

 .slide-livros {
    align-items: center;
    justify-content: start;
} 


.card-livro{
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #E6E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    width: 230px;
    height: 385px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

 .card-livro:hover{
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.178);
} 

.img-livro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-livro img{
    width: 140px;
    height: 210px;
    object-fit: cover;
    background-position: center;
}

.definicao-autores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.capa{
    font-size: 12px;
}

.titulo-livro{
    font-size: 18px;
    width: 220px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.autor-livro{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .avaliacao{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 12px;
} 

.titulo-avaliacao{
    font-size: 10px;
    margin-left: 10px;
}

.capa{
    margin-left: 20px;
    margin-bottom: 10px;
}
    
.comprar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
}

.preco{
    font-size: 18px;
}

.icones-card-livro{
    display: flex;
    font-size: 22px;
}

.coracao, .carrinho{
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.coracao:hover{
    border-radius: 50%;
    padding: 3px;
    color: white;
    background-color: #df1515;
}

.carrinho:hover{
    border-radius: 50%;
    padding: 3px;
    color: white;
    background-color: var(--cor04);
}



.objetivos{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    flex-wrap: wrap;
}

.objetivo-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D3C4B1;
    border-radius: 30px;
    width: 300px;
    height: 250px;
    transition: 0.2s ease-in-out;
}

.objetivos:has(.objetivo-item:hover) .objetivo-item:not(:hover){
    scale: 0.8;
    opacity: 0.8;
}

.titulo-objetivo{
    text-align: center;
    position: absolute;
    padding-top: 30px;
}

.logo-objetivo{
    position: relative;
    left: -130px;
    top: -20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.logo-objetivo img{
    object-fit: contain;
    background-position: center;
    position: relative;
    left: 14px;
    top: 12px;
    width: 50px;
    height: 50px;
}

.conforto{
    background-color: #C7ABFF;
}

.chat{
    background-color: #FFEA93;
}

.equipe{
   background-color: #85D0FF; 
}

.info-objetivo{
    text-align: justify;
    line-height: 1.2em;
    padding: 0px 15px;
}


















.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
    /* background-color: var(--cor06); */
    background: rgb(164,196,219);
    background: linear-gradient(180deg, rgba(164,196,219,1) 3%, rgba(56,106,180,0.7819502801120448) 94%);
    padding: 20px;
} 

.titulo-footer{ 
    font-size: 25px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.21);
    color: #f7f5f5;
}

.coluna-social{
    text-align: center;
    padding: 20px;
}

.coluna-social .redes-sociais h2{
   margin-bottom: 10px;
}

.redes-sociais{
    font-size: 35px;
    padding-right: 10px;
    cursor: pointer;
}

.redes-sociais a{
    color: white;
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item-coluna{
    font-size: 14px;
    cursor: pointer;
}

.item-coluna a{
    color: white;
}

.item-coluna:hover{
    text-decoration: underline;
    color: white;
}


