:root {
    --cor01:#F4F4F4;
    --cor02:#FF6F61;
    --cor03:#333333;
    --cor04:#3498DB;
    --cor05:#5E5CE6;
}


header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor01);
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.buscar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 50px;
    width: 350px;
    height: 45px;
    padding: 10px;
}

.input-buscar input{
    font-size: 20px;
}

.buscar .input-lupa i{
    font-size: 18px;
}

.buscar .input-buscar input{
    border: 0;
    outline: 0;
}

.logo{
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #FF6F61;
}

.nav-links li a i{
    font-size: 20px;
    padding-right: 6px;
}









