@media(max-width: 1598px){
    .button-next, .button-prev{
      display: none;
    }

    main.site div.container div.slider-wrapper{
        max-width: 1800px;
        margin: 0 10px 9px;
    }

}


@media(max-width: 1484px){
    .sub-cabecalho{
        gap: 100px;
    }
    .sub-cabecalho .item-cabecalho a{
        font-size: 16px;
    }

    .slider-wrapper{
        margin: 0 10px 40px;
    }

    main.site div.container div.slider-wrapper{
        max-width: 1800px;
        margin: 0 70px 9px;
    }
}

@media(max-width: 1492px){
    .card-list .card-item .user-image{
        width: 200px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 200px;
    }
}

@media(max-width: 1360px){ 
    main.site div.container div.slider-wrapper{
        max-width: 1100px;
        margin: 0 1px 9px;
    }
}

@media(max-width: 1170px){

    .card-list .card-item .user-image{
        width: 180px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 180px;
    }
}

@media(max-width: 1321px){
    .sub-cabecalho{
        width: 80%;
        gap: 80px;
    }
    .sub-cabecalho .item-cabecalho a{
        font-size: 16px;
    }

}

@media(max-width: 1074px){
    .sub-cabecalho{
        gap: 60px;
    }
    .sub-cabecalho .item-cabecalho a{
        font-size: 16px;
    }
    .nav-list li a{
       font-size: 18px;
    }

}

@media(max-width: 1024px){

    .nav-list li a{
        display: none;
    }
    
    .nav-list li span i{
        font-size: 27px;
    }

    .buscar-box{
        padding: 10px;
        width: 250px;
        height: 45px;
        justify-content: space-evenly;
        margin-right: 10px;
    }

    .buscar-box .input-buscar input{
        font-size: 16px;
    }

    .sub-cabecalho{
        display: none;
    }
    .titulo-footer{
        font-size: 18px;
    }

    .redes-sociais{
        font-size: 20px;
    }

    .coluna{
        gap: 15px
    }

    .carrossel{
        margin-top: 5px;
        width: 100%;
        height: 200px;
    }

    .carrossel1{
        background-image: url('/src/img/img-carrossel/carrossel1-200px.jpg');
    }   
    .carrossel2{
        background-image: url('/src/img/img-carrossel/carrossel2-200px.jpg');
    }  
    .carrossel3{
        background-image: url('/src/img/img-carrossel/carrossel3-200px.jpg');
    }  


}
@media(max-width: 768px){
    main.site div.container div.slider-wrapper{
        max-width: 1400px;
        margin: 0 10px 9px;
    }
}


@media(max-width: 700px){

    .logo img{
        height: 60pt;
    }

    .nav-list{
        gap: 20px;
    }
    
    .nav-list li span i{
        font-size: 24px; 
    }

    .buscar-box{
        padding: 1px;
        width: 200px;
        height: 45px;
        justify-content: space-evenly;
        margin-right: 10px;
    }

    .buscar-box .input-buscar input{
        font-size: 14px;
    }

    .card-list .card-item .user-image{
        width: 230px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 230px;
    }
}


@media(max-width: 544px){
    .logo img{
        display: none;
    }

    .logo-sidebar img{
        height: 75pt;
    }

    .cabecalho-sidebar{
        margin-top: 20px;
    }

    .sidebar{
        width: 280px;
    }

    .sidebar .menu-sidebar .item a{
        font-size: 18px;
    }

    .sidebar .menu-sidebar .item .sub-menu a{
        padding-left: 60px;
        font-size: 14px;
    }

    .nav{
        padding: 10px 5px 0px 5px;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-list li span i{
        font-size: 20px; 
    }
    .menu-btn{
        font-size: 22px;
        margin-right: 2px;
    }

    .buscar-box{
        padding: 2px;
        width: 180px;
        height: 34px;
        justify-content: space-evenly;
    }

    .buscar-box .input-buscar input{
        font-size: 12px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .footer{
        display: grid;
        grid-template-columns: minmax(120px, 2fr) 2fr;
    }

    .carrossel{
        height: 160px;
    }
        
    .carrossel1{
        background-image: url('/src/img/img-carrossel/carrossel1-160px.jpg');
    }   
    .carrossel2{
        background-image: url('/src/img/img-carrossel/carrossel2-160px.jpg');
    }  
    .carrossel3{
        background-image: url('/src/img/img-carrossel/carrossel3-160px.jpg');
    }  

    main.site div.container div.slider-wrapper{
        margin: 0 ;
    }



}