@media(max-width:1900px){
    main.site{
        height: 800vh;
    }
}

@media(max-width: 1598px){
    .button-next, .button-prev{
      display: none;
    }

    main.site div.container div.slider-wrapper{
        max-width: 1200px;
        margin: 0 10px 9px;
    }

}


@media(max-width: 1484px){

   .titulo-favorito-card{
        font-size: 14px;
   }
   
    .sub-cabecalho{
        gap: 100px;
    }
    .sub-cabecalho .item-cabecalho a{
        font-size: 16px;
    }

    .slider-wrapper{
        margin: 0 10px 40px;
    }

    main.site div.container div.slider-wrapper{
        max-width: 1800px;
        margin: 0 70px 9px;
    }
}

@media(max-width: 1492px){
    .card-list .card-item .user-image{
        width: 200px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 200px;
    }

}

@media(max-width: 1360px){ 
    main.site div.container div.slider-wrapper{
        max-width: 1200px;
        margin: 0 1px 9px;
    }
}

@media(max-width: 1170px){

    .card-list .card-item .user-image{
        width: 180px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 180px;
    }
}

@media(max-width: 1321px){


    .titulo-favorito-card{
        font-size: 14px;
        width: 40%;
        padding-left: 30px;
   }

    .sub-cabecalho{
        width: 80%;
        gap: 80px;
    }
    .sub-cabecalho .item-cabecalho a{
        font-size: 16px;
    }

    .carrossel{
        width: 80%;
        height: 180px;
    }

    .carrossel img{
        height: 180px;
    }

}

@media(max-width: 1074px){
    .sub-cabecalho{
        gap: 60px;
    }
    .sub-cabecalho .item-cabecalho a{
        font-size: 16px;
    }
    .nav-list li a{
       font-size: 18px;
    }

}

@media(max-width: 1024px){

    main.site{
        height: 910vh;
    }

    .card-favoritos{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    
    .card-favorito{
        width: 80%;
    }
    .card-favoritos-conta{
        width: 80%;
        height: 400px;
    }

    .favoritos-itens{
        justify-content: center;
        margin-right: 20px;
        gap: 20px;
    }

    .titulo-favorito-card{
        font-size: 14px;
        width: 200px;
        padding-left: 20px;
   }

   .card-favorito::-webkit-scrollbar {
        width: 6px;
    }


    .nav-list li a{
        display: none;
    }
    
    .nav-list li span i{
        font-size: 27px;
    }

    .buscar-box{
        padding: 10px;
        width: 250px;
        height: 45px;
        justify-content: space-evenly;
        margin-right: 10px;
    }

    .buscar-box .input-buscar input{
        font-size: 16px;
    }

    .sub-cabecalho{
        display: none;
    }
    .titulo-footer{
        font-size: 18px;
    }

    .redes-sociais{
        font-size: 20px;
    }

    .coluna{
        gap: 15px
    }

    .carrossel{
        width: 100%;
        height: 170px;
    }

    .carrossel img{
        height: 180px;
    }

    .card-list .card-item .user-image{
        width: 200px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 200px;
    }

    main.site div.container{
        max-width: 1600px;
        margin-left: 30px;
    }

    .card-livro{
        width: 180px;
    }

    .img-livro img{
        width: 120px;
        height: 180px;
    }

    .titulo-livro{
        font-size: 14px;
        width: 170px;
    }

    .avaliacao{
        font-size: 8px;
    }

    .preco{
        font-size: 14px;
    }

    .icones-card-livro{
        font-size: 17px;
    }

    .coracao, .carrinho{
        margin-right: 2px;
    }


}

@media(max-width: 782px){

    main.site{
        height: 1000vh;
    }
    
    .titulo-favorito-card{
        font-size: 14px;
        width: 60%;
        padding-left: 30px;
   }


    .card-list .card-item .user-image{
        width: 180px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 180px;
    }

    .card-livro{
        width: 165px;
    }

    .titulo-livro{
        font-size: 14px;
        width: 140px;
    }

}


@media(max-width: 700px){

    .img-pagamentos img{
        width: 40px;
    }

    .separacao-footer{
        width: 100%;
    }

    .logo img{
        height: 60pt;
    }

    .nav-list{
        gap: 20px;
    }
    
    .nav-list li span i{
        font-size: 24px; 
    }

    .buscar-box{
        padding: 1px;
        width: 200px;
        height: 45px;
        justify-content: space-evenly;
        margin-right: 10px;
    }

    .buscar-box .input-buscar input{
        font-size: 14px;
    }

    .card-list .card-item .user-image{
        width: 230px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 230px;
    }

    .carrossel img{
        height: 150px;
    }

    .carrossel{
        box-shadow: none;
    }   
    
    .card-livro{
        width: 170px;
        height: 350px;
    }

    .titulo-livro{
        font-size: 14px;
        width: 140px;
    }

}


@media(max-width: 544px){

    .card-livro{
        width: 150px;
    }

    .img-livro img{
        width: 100px;
        height: 150px;
    }

    .titulo-livro{
        font-size: 12px;
        width: 130px;
    }

    .avaliacao{
        font-size: 6px;
    }

    .preco{
        font-size: 12px;
    }

    .icones-card-livro{
        font-size: 14px;

    }

    .sidebar-carrinho{
        width: 290px;
    }

    .item-carrinho{
        height: 230px;
    }
    
    .img-item-carrinho img{
        width: 140px;
        height: 120px;
    }

    .compra-carrinho{
        left: 160px;
        width: 120px;
    }

    .item-total{
        position: relative;
        left: -20px;
        gap: 5px;
        font-size: 18px;
    }

    .titulo-item-carrinho{
        font-size: 12px;
    }

    .valor-item-carrinho{
        font-size: 17px;
    }

    .remove-from-cart-btn{
        padding: 8px;
    }

    .titulo-favorito-card{
        font-size: 12px;
        width: 50%;
        padding-left: 20px;
   }

    .logo img{
        display: none;
    }

    .logo-sidebar img{
        height: 75pt;
    }

    .cabecalho-sidebar{
        margin-top: 20px;
    }

    .sidebar{
        width: 280px;
    }

    .sidebar .menu-sidebar .item a{
        font-size: 18px;
    }

    .sidebar .menu-sidebar .item .sub-menu a{
        padding-left: 60px;
        font-size: 14px;
    }

    .nav{
        padding: 10px 5px 0px 5px;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-list li span i{
        font-size: 20px; 
    }
    .menu-btn{
        font-size: 22px;
        margin-right: 2px;
    }

    .buscar-box{
        padding: 2px;
        width: 180px;
        height: 34px;
        justify-content: space-evenly;
    }

    .buscar-box .input-buscar input{
        font-size: 12px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .carrossel img{
        height: 110px;
    }

    .card-list .card-item .user-image{
        width: 190px;
    }

    .titulo-card, .titulo-card2, .titulo-card3{
        width: 190px;
    }

    .titulo-recomendados{
        font-size: 16px;
    }

    .img-pagamentos img{
        object-fit: contain;
        width: 30px;
    }

    .titulo-footer, .titulo-pagamento{ 
        font-size: 20px;
    }

    
}

